@using BTL_CharityWebsite.Models
@using PagedList.Mvc
@model PagedList.IPagedList<BTL_CharityWebsite.Models.QUANLY>


@{
    ViewBag.Title = "DanhSachThanhVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    h2 {
        text-align: center;
        color: #295e97;
        font-weight: bold;
        margin-bottom: 30px;
        padding-top: 50px;
    }

    .pagination-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

        .pagination-container .pagination {
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .pagination-container .pagination li a {
                display: block;
                padding: 8px 12px;
                text-decoration: none;
                border: 1px solid #ddd;
                border-radius: 4px;
                color: #007bff;
                background-color: #f8f9fa;
                transition: all 0.3s ease;
            }

                .pagination-container .pagination li a:hover {
                    background-color: #007bff;
                    color: #fff;
                    border-color: #007bff;
                }

    table td, th {
        border: 1px solid;
    }

    td a {
        text-decoration: none;
        color: #fff;
        background-color: #428ddd;
        padding: 5px 10px;
        border-radius: 6px;
    }

    table td, th {
        text-align: center;
    }

    td a:hover {
        background-color: #326ba8;
        color: #fff;
    }

    p a {
        text-decoration: none;
        color: #fff;
        background-color: #428ddd;
        padding: 5px 10px;
        border-radius: 6px;
    }

        p a:hover {
            background-color: #326ba8;
            color: #fff;
        }

    .add-btn {
        text-align: center;
    }
</style>

<h2>DANH SÁCH THÀNH VIÊN</h2>
<form method="get" action="@Url.Action("DanhSachThanhVien", "Member")" style="margin-bottom: 20px; text-align: center;">
    <label for="namTao" style="margin-right: 10px;">Tìm kiếm:</label>
    <input type="text" id="tenThanhVien" name="tenThanhVien" value="@Request.QueryString["tenThanhVien"]" placeholder="Nhập tên thành viên" />
    <input type="text" id="chucVu" name="chucVu" value="@Request.QueryString["chucVu"]" placeholder="Chức vụ" />
    <button type="submit" style="margin-left: 10px; padding: 5px 10px; background-color: #428ddd; color: white; border: none; border-radius: 6px;">Tìm kiếm</button>
</form>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Tiểu sử
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Chức vụ
        </th>
        <th></th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="7" style="text-align: center;">Không tìm thấy chiến dịch nào phù hợp.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="width: 10%">
                    @Html.DisplayFor(modelItem => item.TenQL)
                </td>
                <td style="width: 2%">
                    @Html.DisplayFor(modelItem => item.EmailQL)
                </td>
                <td style="width: 8%">
                    @Html.DisplayFor(modelItem => item.SDTQL)
                </td>
                <td width="25%">
                    @Html.Raw(item.TieuSu.Length > 100 ? item.TieuSu.Substring(0, 100) + "..." : item.TieuSu)
                </td>
                <td>
                    <img src="~/Content/images/@item.AnhQL" style="width: 150px; height: auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "SuaThanhVien", new { id = item.MaQL }) |
                    @Html.ActionLink("Chi Tiết", "ChiTietThanhVien", new { id = item.MaQL }) |
                    @Html.ActionLink("Xoá", "XoaThanhVien", new { id = item.MaQL })
                </td>
            </tr>
        }
    }


</table>
<div class="add-btn">
    <p>
        @Html.ActionLink("Thêm mới", "ThemThanhVien")
    </p>
</div>
<p style="text-align: center; margin-top: 30px">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</p>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachThanhVien", new { page = page ,
    tenThanhVien = Request.QueryString["tenThanhVien"],
    chucVu = Request.QueryString["chucVu"]
}))
</div>
