@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<BTL_CharityWebsite.Models.CHIENDICH>

@{
    ViewBag.Title = "DanhSachChienDich";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .pagination-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

        .pagination-container .pagination {
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .pagination-container .pagination li a {
                display: block;
                padding: 8px 12px;
                text-decoration: none;
                border: 1px solid #ddd;
                border-radius: 4px;
                color: #007bff;
                background-color: #f8f9fa;
                transition: all 0.3s ease;
            }

                .pagination-container .pagination li a:hover {
                    background-color: #007bff;
                    color: #fff;
                    border-color: #007bff;
                }
</style>
<h2>Danh mục</h2>

<table class="table">
    <tr>
        <th>
            Tên chiến dịch
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCD)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "ThuVien", new { MaCD = item.MaCD }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaCD })
            </td>
        </tr>
    }
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachChienDich", new { page = page }))
</div>

