@model BTL_CharityWebsite.Models.CHIENDICH

@{
    ViewBag.Title = "XoaChienDich";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XOÁ CHIẾN DỊCH</h2>

<h3>Bạn có chắc chắn muốn xóa cái này không?</h3>
<div>
    <h4>Chiến dịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên chiến dịch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCD)
        </dd>

        <dt>
            Thông tin
        </dt>

        <dd>
            @Html.Raw(Model.MoTa)
        </dd>

        <dt>
            Quản lí
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.QUANLY.TenQL)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="~/Content/images/@Model.AnhBia" style="width: 30%; height: auto" />
        </dd>

        <dt>
            Tổng quỹ
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.TongQuy)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("dd/MM/yyyy") : "N/A")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="confirmDelete(event);" /> |
            @Html.ActionLink("Back to List", "ChienDich")
        </div>
    }
</div>


<script>
    function confirmDelete(event) {
        event.preventDefault(); // Ngăn không cho form gửi ngay lập tức

        Swal.fire({
            title: 'Bạn có chắc chắn?',
            text: "Dữ liệu sẽ bị xóa và không thể khôi phục!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Xóa',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.form.submit(); // Gửi form nếu người dùng xác nhận
            }
        });
    }
</script>